x
@{
    ViewBag.Title = "SteamSubscriberAgreement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(@"~\Content\bootstrap.min.css")
@Styles.Render(@"~\Content\CSS\hrBackground.css")
@Styles.Render("~/Content/css")
<div id="container">
    <h1 id="title">Steam Subscriber Agreement</h1>
    <hr class="hrLine" />
    <div id="content" class=".col-md-4 .col-md-offset-2">
        <div style="border:solid 1px;padding:2ex 1em 1em 1em">
            <p>
                <h1>STEAM® SUBSCRIBER AGREEMENT</h1>
            <p>
                This Steam Subscriber Agreement ("Agreement") is a legal document that explains your rights and obligations as a subscriber of Steam from Valve Corporation, a corporation under the laws of the State of Washington, with its registered office at 10400 NE 4th St., Bellevue, WA 98004, United States, registered with the Washington Secretary of State under number 60 22 90 773, VAT ID No. EU 8260 00671 ("Valve"). Please read it carefully.
            </p>
            <p>
                SECTION 11 CONTAINS A BINDING ARBITRATION AGREEMENT AND CLASS ACTION WAIVER. IT AFFECTS HOW DISPUTES ARE RESOLVED. PLEASE READ IT. IF YOU LIVE IN THE PROVINCE OF QUEBEC (CANADA) OR THE EUROPEAN UNION, SECTION 11 DOES NOT APPLY TO YOU.
            </p>
            <ol type="1">
                <li>REGISTRATION AS A SUBSCRIBER; APPLICATION OF TERMS TO YOU; YOUR ACCOUNT</li>
                <p>
                    Steam is an online service offered by Valve.
                </p>
                <p>
                    You become a subscriber of Steam ("Subscriber") by completing the registration of a Steam user account. This Agreement takes effect as soon as you indicate your acceptance of these terms. You may not become a subscriber if you are under the age of 13. Steam is not intended for children under 13 and Valve will not knowingly collect personal information from children under the age of 13.
                </p>
                <ol style="list-style-type:upper-alpha">
                    <li>Contracting Party</li>
                    <p>
                        For any interaction with Steam your contractual relationship is with Valve. Except as otherwise indicated at the time of the transaction (such as in the case of purchases from another Subscriber in a Subscription Marketplace), any transactions for Subscriptions (as defined below) you make on Steam are being made from Valve.
                    </p>
                    <li>Subscriptions; Content and Services</li>
                    <p>
                        As a Subscriber you may obtain access to certain services, software and content available to Subscribers. The Steam client software and any other software, content, and updates you download or access via Steam, including but not limited to Valve or third-party video games and in-game content, software associated with Hardware and any virtual items you trade, sell or purchase in a Steam Subscription Marketplace are referred to in this Agreement as "Content and Services;" the rights to access and/or use any Content and Services accessible through Steam are referred to in this Agreement as "Subscriptions."
                    </p>
                    <li>Your Account</li>
                    <p>
                        When you complete Steam’s registration process, you create a Steam account ("Account"). Your Account may also include billing information you provide to Valve for the purchase of Subscriptions, Content and Services and any physical goods offered for purchase through Steam (“Hardware”). You may not reveal, share or otherwise allow others to use your password or Account except as otherwise specifically authorized by Valve. You are responsible for the confidentiality of your login and password and for the security of your computer system. Valve is not responsible for the use of your password and Account or for all of the communication and activity on Steam that results from use of your login name and password by you, or by any person to whom you may have intentionally or by negligence disclosed your login and/or password in violation of this confidentiality provision. Unless it results from Valve’s negligence or fault, Valve is not responsible for the use of your Account by a person who fraudulently used your login and password without your permission. If you believe that the confidentiality of your login and/or password may have been compromised, you must notify Valve via the support form without any delay.
                    </p>
                    <p>
                        Your Account, including any information pertaining to it (e.g.: contact information, billing information, Account history and Subscriptions, etc.), is strictly personal. You may therefore not sell or charge others for the right to use your Account, or otherwise transfer your Account, nor may you sell, charge others for the right to use, or transfer any Subscriptions other than if and as expressly permitted by this Agreement (including any Subscription Terms or Rules of Use) or as otherwise specifically permitted by Valve.
                    </p>
                    <li>Payment Processing</li>
                    <p>
                        Payment processing related to Content and Services and/or Hardware purchased on Steam is performed by either Valve Corporation directly or by Valve’s fully owned subsidiary Valve GmbH on behalf of Valve Corporation depending on the type of payment method used. If your card was issued outside the United States, your payment may be processed via a European acquirer by Valve GmbH on behalf of Valve Corporation. For any other type of purchases, payment will be collected by Valve Corporation directly. In any case, delivery of Content and Services as well as Hardware is performed by Valve Corporation.
                    </p>
                </ol>
                <li>LICENSES</li>
                <p>
                    <ol style="list-style-type:upper-alpha">
                        <li>General Content and Services License</li>
                        <p>
                            Steam and your Subscription(s) require the download and installation of Content and Services onto your computer. Valve hereby grants, and you accept, a non-exclusive license and right, to use the Content and Services for your personal, non-commercial use (except where commercial use is expressly allowed herein or in the applicable Subscription Terms). This license ends upon termination of (a) this Agreement or (b) a Subscription that includes the license. The Content and Services are licensed, not sold. Your license confers no title or ownership in the Content and Services. To make use of the Content and Services, you must have a Steam Account and you may be required to be running the Steam client and maintaining a connection to the Internet.
                        </p>
                        <p>
                            For reasons that include, without limitation, system security, stability, and multiplayer interoperability, Steam may need to automatically update, pre-load, create new versions of or otherwise enhance the Content and Services and accordingly, the system requirements to use the Content and Services may change over time. You consent to such automatic updating. You understand that this Agreement (including applicable Subscription Terms) does not entitle you to future updates, new versions or other enhancements of the Content and Services associated with a particular Subscription, although Valve may choose to provide such updates, etc. in its sole discretion.
                        </p>
                        <li>Beta Software License</li>
                        <p>Valve may from time to time make software accessible to you via Steam prior to the general commercial release of such software ("Beta Software"). You are not required to use Beta Software, but if Valve offers it, you may elect to use it under the following terms. Beta Software will be deemed to consist of Content and Services, and each item of Beta Software provided will be deemed a Subscription for such Beta Software, with the following provisions specific to Beta Software:</p>
                         <ul style="list-style-type:circle">
                             <li>Your right to use the Beta Software may be limited in time, and may be subject to additional Subscription Terms;</li>
                             <li>Valve or any Valve affiliate may request or require that you provide suggestions, feedback, or data regarding your use of the Beta Software, which will be deemed User Generated Content under Section 6 (User Generated Content) below; and</li>
                             <li>In addition to the waivers and limitations of liability for all Software under Section 7 (Disclaimers; Limitations on Liability; No Guarantees; Limited Warranty & Agreement) below as applicable, you specifically acknowledge that Beta Software is only released for testing and improvement purposes, in particular to provide Valve with feedback on the quality and usability of the Beta Software, and therefore contains errors, is not final and may create incompatibilities or damage to your computer, data, and/or software. If you decide to install and/or use Beta Software, you shall only use it in compliance with its purposes, i.e. for testing and improvement purposes and in any case not on a system or for purposes where the malfunction of the Beta Software can cause any kind of damage. In particular, maintain full backups of any system that you choose to install Beta Software on.</li>
                         </ul> 
                         <li>License to Use Valve Developer Tools</li>
                         <p>
                             Your Subscription(s) may include access to various Valve tools that can be used to create content ("Developer Tools"). Some examples include: the Valve software development kit (the "SDK") for a version of the computer game engine known as "Source" (the "Source Engine") and the associated Valve Hammer editor, The Source® Filmmaker Software, or in-game tools through which you can edit or create derivative works of a Valve game. Particular Developer Tools (for example, The Source® Filmmaker Software) may be distributed with separate Subscription Terms that are different from the rules set forth in this Section. Except as set forth in any separate Subscription Terms applicable to the use of a particular Developer Tool, you may use the Developer Tools, and you may use, reproduce, publish, perform, display and distribute any content you create using the Developer Tools, however you wish, but solely on a non-commercial basis.
                         </p>
                         <li>License to Use Valve Game Content in Fan Art.</li>
                         <p>
                             Valve appreciates the community of Subscribers that creates fan art, fan fiction, and audio-visual works that reference Valve games ("Fan Art"). You may incorporate content from Valve games into your Fan Art. Except as otherwise set forth in this Section or in any Subscription Terms, you may use, reproduce, publish, perform, display and distribute Fan Art that incorporates content from Valve games however you wish, but solely on a non-commercial basis.
                         </p>
                         <p>If you incorporate any third-party content in any Fan Art, you must be sure to obtain all necessary rights from the owner of that content.If you incorporate any third-party content in any Fan Art, you must be sure to obtain all necessary rights from the owner of that content.</p>
                         <p>
                             Commercial use of some Valve game content is permitted via features such as Steam Workshop or a Steam Subscription Marketplace. Terms applicable to that use are set forth in Sections 3.D. and 6.B. below and in any Subscription Terms provided for those features.
                         </p>
                         <li>License to Use Valve Dedicated Server Software</li>
                         <p>
                             Your Subscription(s) may contain access to the Valve Dedicated Server Software. If so, you may use the Valve Dedicated Server Software on an unlimited number of computers for the purpose of hosting online multiplayer games of Valve products. If you wish to operate the Valve Dedicated Server Software, you will be solely responsible for procuring any Internet access, bandwidth, or hardware for such activities and will bear all costs associated with your use.
                         </p>
                         <li>Ownership of Content and Services</li>
                         <p>
                             All title, ownership rights and intellectual property rights in and to the Content and Services and any and all copies thereof, are owned by Valve and/or its or its affiliates’ licensors. All rights are reserved, except as expressly stated herein. The Content and Services are protected by copyright laws, international copyright treaties and conventions and other laws. The Content and Services contain certain licensed materials and Valve’s and its affiliates’ licensors may protect their rights in the event of any violation of this Agreement.
                         </p>
                         <li>Restrictions on Use of Content and Services</li>
                         <p>
                             You may not use the Content and Services for any purpose other than the permitted access to Steam and your Subscriptions, and to make personal, non-commercial use of your Subscriptions, except as otherwise permitted by this Agreement or applicable Subscription Terms. Except as otherwise permitted under this Agreement (including any Subscription Terms or Rules of Use), or under applicable law notwithstanding these restrictions, you may not, in whole or in part, copy, photocopy, reproduce, publish, distribute, translate, reverse engineer, derive source code from, modify, disassemble, decompile, create derivative works based on, or remove any proprietary notices or labels from the Content and Services or any software accessed via Steam without the prior consent, in writing, of Valve.
                         </p>
                         <p>
                             You are entitled to use the Content and Services for your own personal use, but you are not entitled to: (i) sell, grant a security interest in or transfer reproductions of the Content and Services to other parties in any way, nor to rent, lease or license the Content and Services to others without the prior written consent of Valve, except to the extent expressly permitted elsewhere in this Agreement (including any Subscription Terms or Rules of Use); (ii) host or provide matchmaking services for the Content and Services or emulate or redirect the communication protocols used by Valve in any network feature of the Content and Services, through protocol emulation, tunneling, modifying or adding components to the Content and Services, use of a utility program or any other techniques now known or hereafter developed, for any purpose including, but not limited to network play over the Internet, network play utilizing commercial or non-commercial gaming networks or as part of content aggregation networks, websites or services, without the prior written consent of Valve; or (iii) exploit the Content and Services or any of its parts for any commercial purpose, except as expressly permitted elsewhere in this Agreement (including any Subscription Terms or Rules of Use).
                         </p>
                    </ol>
                </p>
            <li>BILLING, PAYMENT AND OTHER SUBSCRIPTIONS</li>
            <p>
                All charges incurred on Steam, and all purchases made with the Steam Wallet, are payable in advance and final, except as described in Sections 3.I and 7 below.
            </p>
                <ol style="list-style-type:upper-alpha">
                    <li>Payment Authorization</li>
                    <p>
                        When you provide payment information to Valve or to one of its payment processors, you represent to Valve that you are the authorized user of the card, PIN, key or account associated with that payment, and you authorize Valve to charge your credit card or to process your payment with the chosen third-party payment processor for any Subscription, Steam Wallet funds, Hardware or other fees incurred by you. Valve may require you to provide your address or other information in order to meet its obligations under applicable tax law.
                    </p>
                    <p>
                        For Subscriptions purchased based on an agreed usage period, where recurring payments are made in exchange for continued use ("Recurring Payment Subscriptions"), by continuing to use the Recurring Payment Subscription you agree and reaffirm that Valve is authorized to charge your credit card (or your Steam Wallet, if funded), or to process your payment with any other applicable third-party payment processor, for any applicable recurring payment amounts. If you have purchased any Recurring Payment Subscriptions, you agree to notify Valve promptly of any changes to your credit card account number, its expiration date and/or your billing address, or your PayPal or other payment account number, and you agree to notify Valve promptly if your credit card or PayPal or other payment account expires or is cancelled for any reason.
                    </p>
                    <p>
                        If your use of Steam is subject to any type of use or sales tax, then Valve may also charge you for those taxes, in addition to the Subscription or other fees published in the Rules of Use. The European Union VAT ("VAT") tax amounts collected by Valve reflect VAT due on the value of any Content and Services, Hardware or Subscription.
                    </p>
                    <p>
                        You agree that you will not use IP proxying or other methods to disguise the place of your residence, whether to circumvent geographical restrictions on game content, to purchase at pricing not applicable to your geography, or for any other purpose. If you do this, Valve may terminate your access to your Account.
                    </p>
                    <li>Responsibility for Charges Associated With Your Account</li>
                    <p>
                        As the Account holder, you are responsible for all charges incurred, including applicable taxes, and all purchases made by you or anyone that uses your Account, including your family or friends. If you cancel your Account, Valve reserves the right to collect fees, surcharges or costs incurred before cancellation. Any delinquent or unpaid Accounts must be settled before Valve will allow you to register again.
                    </p>
                    <li>Steam Wallet</li>
                    <p>
                        Steam may make available an account balance associated with your Account (the "Steam Wallet"). The Steam Wallet is neither a bank account nor any kind of payment instrument. It functions as a prepaid balance to purchase Content and Services. You may place funds in your Steam Wallet up to a maximum amount determined by Valve, by credit card, prepaid card, promotional code, or any other payment method accepted by Steam. Within any twenty-four (24) hour period, the total amount stored in your Steam Wallet plus the total amount spent out of your Steam Wallet, in the aggregate, may not exceed US$2,000 or its equivalent in your applicable local currency -- attempted deposits into your Steam Wallet that exceed this threshold may not be credited to your Steam Wallet until your activity falls below this threshold. Valve may change or impose different Steam Wallet balance and usage limits from time to time.
                    </p>
                    <p>
                        You will be notified by e-mail of any change to the Steam Wallet balance and usage limits within sixty (60) days before the entry into force of the change. Your continued use of your Steam Account more than thirty (30) days after the entry into force of the changes will constitute your acceptance of the changes. If you don’t agree to the changes, your only remedy is to terminate your Steam Account or to cease use of your Steam Wallet. Valve shall not have any obligation to refund any credits remaining on your Steam Wallet in this case.
                    </p>
                    <p>
                        You may use Steam Wallet funds to purchase Subscriptions, including by making in-game purchases where Steam Wallet transactions are enabled, and Hardware. Subject to Section 3.I, funds added to the Steam Wallet are non-refundable and non-transferable. Steam Wallet funds do not constitute a personal property right, have no value outside Steam and can only be used to purchase Subscriptions and related content via Steam (including but not limited to games and other applications offered through the Steam Store, or in a Steam Subscription Marketplace) and Hardware. Steam Wallet funds have no cash value and are not exchangeable for cash. Steam Wallet funds that are deemed unclaimed property may be turned over to the applicable authority.
                    </p>
                    <li>Trading and Sales of Subscriptions Between Subscribers</li>
                    <p>
                        Steam may include one or more features or sites that allow Subscribers to trade, sell or purchase certain types of Subscriptions (for example, license rights to virtual items) with, to or from other Subscribers ("Subscription Marketplaces"). An example of a Subscription Marketplace is the Steam Community Market. By using or participating in Subscription Marketplaces, you authorize Valve, on its own behalf or as an agent or licensee of any third-party creator or publisher of the applicable Subscriptions in your Account, to transfer those Subscriptions from your Account in order to give effect to any trade or sale you make.
                    </p>
                    <p>
                        Valve may charge a fee for trades or sales in a Subscription Marketplace. Any fees will be disclosed to you prior to the completion of the trade or sale.
                    </p>
                    <p>
                        If you complete a trade, sale or purchase in a Subscription Marketplace, you acknowledge and agree that you are responsible for taxes, if any, which may be due with respect to your transactions, including sales or use taxes, and for compliance with applicable tax laws. Proceeds from sales you make in a Subscription Marketplace may be considered income to you for income tax purposes. You should consult with a tax specialist to determine your tax liability in connection with your activities in any Subscription Marketplace.
                    </p>
                    <p>
                        You understand and acknowledge that Valve may decide to cease operation of any Subscription Marketplace, change the fees that it charges or change the terms or features of the Steam Subscription Marketplace. Valve shall have no liability to you because of any inability to trade Subscriptions in the Steam Trading Marketplace, including because of discontinuation or changes in the terms, features or eligibility requirements of any Subscription Marketplace.
                    </p>
                    <p>
                        You also understand and acknowledge that Subscriptions traded, sold or purchased in any Subscription Marketplace are license rights, that you have no ownership interest in such Subscriptions, and that Valve does not recognize any transfers of Subscriptions (including transfers by operation of law) that are made outside of Steam.
                    </p>
                    <li>Retail Purchase</li>
                    <p>
                        Valve may offer or require a Subscription for purchasers of retail packaged product versions or OEM versions of Valve products. The "CD-Key" or "Product Key" accompanying such versions is used to activate your Subscription.
                    </p>
                    <li>Steam Authorized Resellers</li>
                    <p>
                        You may purchase a Subscription through an authorized reseller of Valve. The "Product Key" accompanying such purchase will be used to activate your Subscription. If you purchase a Subscription from an authorized reseller of Valve, you agree to direct all questions regarding the Product Key to that reseller.
                    </p>
                    <li>Free Subscriptions</li>
                    <p>
                        In some cases, Valve may offer a free Subscription to certain services, software and content. As with all Subscriptions, you are always responsible for any Internet service provider, telephone, and other connection fees that you may incur when using Steam, even when Valve offers a free Subscription.
                    </p>
                    <li>Third-Party Sites</li>
                    <p>
                        Steam may provide links to other third-party sites. Some of these sites may charge separate fees, which are not included in and are in addition to any Subscription or other fees that you may pay to Valve. Steam may also provide access to third-party vendors, who provide content, goods and/or services on Steam or the Internet. Any separate charges or obligations you incur in your dealings with these third parties are your responsibility. Valve makes no representations or warranties, either express or implied, regarding any third party site. In particular, Valve makes no representation or warranty that any service or subscription offered via third-party vendors will not change or be suspended or terminated.
                    </p>
                </ol>
                <li>ONLINE CONDUCT, CHEATING AND ILLEGAL BEHAVIOR</li>
                <p>
                    Your online conduct and interaction with other Subscribers should be guided by common sense and basic etiquette. Depending on terms of use imposed by third parties who host particular games or other services, additional requirements may also be provided in the Subscription Terms applicable to a particular Subscription.
                </p>
                <p>
                    Steam and the Content and Services may include functionality designed to identify software or hardware processes or functionality that may give a player an unfair competitive advantage when playing multiplayer versions of any Content and Services or modifications of Content and Services ("Cheats"). You agree that you will not create Cheats or assist third parties in any way to create or use Cheats. You agree that you will not directly or indirectly disable, circumvent, or otherwise interfere with the operation of software designed to prevent or report the use of Cheats. You acknowledge and agree that either Valve or any online multiplayer host may refuse to allow you to participate in certain online multiplayer games if you use Cheats in connection with Steam or the Content and Services. Further, you acknowledge and agree that an online multiplayer host may report your use of Cheats to Valve, and Valve may communicate your history of use of Cheats to other online multiplayer hosts. Valve may terminate your Account or a particular Subscription for any conduct or activity that is illegal, constitutes a Cheat, or otherwise negatively affects the enjoyment of Steam by other Subscribers. You acknowledge that Valve is not required to provide you notice before terminating your Subscription(s) and/or Account.
                </p>
                <p>
                    You may not use Cheats, automation software (bots), mods, hacks, or any other unauthorized third-party software, to modify or automate any Subscription Marketplace process.
                </p>
                <li>THIRD-PARTY CONTENT</li>
                <p>
                    In regard to all Subscriptions, Content and Services that are not authored by Valve, Valve does not screen such third-party content available on Steam or through other sources. Valve assumes no responsibility or liability for such third party content. Some third-party application software is capable of being used by businesses for business purposes - however, you may only acquire such software via Steam for private personal use.
                </p>
                <li>MISCELLANEOUS</li>
                <p>
                    Except as otherwise expressly set forth in this Agreement, in the event that any provision of this Agreement shall be held by an arbitrator, court, or other tribunal of competent jurisdiction to be illegal or unenforceable, such provision will be enforced to the maximum extent permissible and the remaining portions of this Agreement shall remain in full force and effect. Section 11.E. governs if some parts of Section 11 (Dispute Resolution/Binding Arbitration/Class Action Waiver) are held to be illegal or unenforceable. This Agreement, including any Subscription Terms, Rules of Use, the Valve Privacy Policy, and the Valve Hardware Limited Warranty Policy, constitutes and contains the entire agreement between the parties with respect to the subject matter hereof and supersedes any prior oral or written agreements. You agree that this Agreement is not intended to confer and does not confer any rights or remedies upon any person other than the parties to this Agreement.
                </p>
                <p>
                    Valve’s obligations are subject to existing laws and legal process and Valve may comply with law enforcement or regulatory requests or requirements notwithstanding any contrary term.
                </p>
                <p>
                    You agree to comply with all applicable import/export laws and regulations. You agree not to export the Content and Services or Hardware or allow use of your Account by individuals of any terrorist supporting countries to which encryption exports are at the time of exportation restricted by the U.S. Bureau of Export Administration. You represent and warrant that you are not located in, under the control of, or a national or resident of any such prohibited country.
                </p>
                <p>
                    This Agreement was last updated on April 30th, 2019 ("Revision Date"). If you were a Subscriber before the Revision Date, it replaces your existing agreement with Valve or Valve SARL on the day that it becomes effective according to Section 8 above.
                </p>
            </ol>
        </div>
    </div>
</div>


